<%= content_for :title do%>
  Show entry &ndash;  <%= DateTime.now.to_formatted_s(:short) %>
<% end %>

<div id="entries" class="columns mt-6 is-centered">
<div class="column is-one-quarter">
<div class="card">
          <%= render @entry %>
      <div class="card-footer">
        <%= link_to "Edit this entry", edit_entry_path(@entry), class: "card-footer-item" %>
        <%= link_to "Back to entries", entries_path, class: "card-footer-item" %>

      </div>
</div>
<%= button_to "Destroy this entry", @entry, method: :delete %>
</div>
</div>

  


